/**
 * Оригинальный исходный код:
 * https://www.w3schools.com/howto/howto_custom_select.asp
 */

/* The container must be positioned relative: */
.custom-select {
  position: relative;
  font-family: Arial;
  margin-left: 20px;
  width: 200px;
  font-size: 24px;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: white;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 20px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #444444 transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #444444 transparent;
  top: 12px;
}

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
  color: #2e282c;
  padding: 8px 16px;
  border: 1px solid #444444;
  border-color: #444444;
  cursor: pointer;
}
.select-items div {
  border-radius: 0px;
}

.select-selected {
  border-radius: 6px;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: white;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
